/* Style so vertical nav bar */
/*
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li a {
	display: block;
	width: 60px;
	text-decoration: none;
}

nav li {
	display:inline;
}

nav li a:hover {
	text-decoration: underline;
}
*/

/* Style for horizontal nav bar */
nav ul {
	list-style-type: none;
	margin: 15px 0 0 0;
	padding: 0;
	overflow: hidden;
	width: 100%;

}
nav li {
	display: inline;
	float: right;
}

nav li a {
	padding: 8px;
	height: 12px;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

form {
	margin:100px 0 210px 0;
}

footer ul {
	list-style-type: none;
	margin: 200px 0 0 0px;
	padding: 0 0 2px 0;
	overflow: hidden;
	width: 1355px;
	background-color: #F2F2F2;
}

footer li {
	display: inline;
	margin: 0 0 5px 0;

}

footer li a {
	padding: 8px;
	height: 12px;
	text-decoration: none;
}

footer li a:hover {
	text-decoration: underline;
}


/*
.active {
	background-color: #4CAF50;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
*/